.windowRoom, .windowRoomAdmin {
    background-color: #FFFFFF;
    box-shadow: 0 0 5px rgba(167, 207, 223, 0.7);
    width: 160px;
    height: 200px;
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    position: relative;
    color: black;
}

.windowRoom:hover {
    box-shadow: 0 0 12px rgba(167, 207, 223, 0.9);
    cursor: pointer;
}

.windowRoomAdmin:hover {
    box-shadow: 0 0 12px rgba(167, 207, 223, 0.9);
    cursor: pointer;
}

.selectRoomButton, .selectRoomButtonLast {
    background-color: #1485CC;
    background: linear-gradient(to bottom, #32B0FF, #004E7F);
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
    border-radius: 9px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
    color: #000000;
}


.windowRoomAdmin .selectRoomButton {
    display: none;
    font-size: 20px;
    opacity: 0.95;
    border-radius: 15px;
}



.windowRoomAdmin:hover .selectRoomButtonLast {
    display: block;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(20%, -50%);
}

.windowRoomAdmin .selectRoomButton {
    display: none;
    font-size: 20px;
    opacity: 0.95;
    border-radius: 15px;
}

.windowRoomAdmin .selectRoomButtonLast {
    display: none;
    font-size: 20px;
    opacity: 0.95;
    border-radius: 15px;
}

.windowRoom .selectRoomButton {
    display: none;
    font-size: 20px;
    opacity: 0.95;
    border-radius: 15px;
}

.windowRoomAdmin:hover .selectRoomButtonLast {
    display: block;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(20%, -50%);
}


:host {
    position: absolute;
    left: 260px;
    top: 130px;
}