<div class="banner" align="center">
    <div id="slider-wrap">
        <div id="slider">
            <div class="slide">
                <img src="./assets/img/hotel/foto2.jpeg" width="714" height="469">
            </div>
            <div class="slide">
                <img src="./assets/img/hotel/foto1.jpeg" width="714" height="469">
            </div>
            <div class="slide">
                <img src="./assets/img/hotel/foto3.jpeg" width="714" height="469">
            </div>
        </div>
    </div>
</div>